body { background: #0a0e13; color: white; font-family: sans-serif; margin:0; text-align:center; }
.navbar { background: #111; padding: 15px; font-size: 22px; font-weight: bold; border-bottom: 2px solid #00ff88; }
.container { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; padding: 20px; }
.card { background: #161b22; padding: 20px; border-radius: 15px; border: 1px solid #30363d; }
#pollution { font-size: 70px; color: #00ff88; }
.sat-track { background: #000; height: 40px; border-radius: 10px; position: relative; overflow: hidden; }
#sat { width: 15px; height: 15px; background: red; border-radius: 50%; position: absolute; top: 12px; left: 0; transition: 1s; }
button { background: #00ff88; border: 0; padding: 10px; border-radius: 8px; font-weight: bold; }
.live { color: #ff4444; font-size: 12px; }
@media(max-width:800px){ .container { grid-template-columns: 1fr; } }
